{% extends "base.html" %}

{% block content %}

<div class="container col-md-9">


    <h1 class="display-4 headline mt-3">Me</h1>

    <hr class="line">

<p class = 'entry-content'>I see development as the intersection of computer sciences and the visual arts. The process of building something useful and beautiful, can be achieved simultaneously  though 
    creative thought and a blank canvas(screen). I find it wonderful.   </p>

    <img src="{{ url_for('static', filename="assets/S&H-702.jpg") }}" id="selfImg" alt="pitcutre of me small family" srcset="">
    <p class="text-muted mt-1">The  unit - myself, Shawntiel (my wife), and our two very spoiled dogs
    </p>

<p class = 'entry-content'>  I'm an avid outdoorsman, thoroughly enjoy binging good television, and on occasion have been known to endulge in video games paired with a tasty beer 🍺 . I live with my wife, our two dogs in a house full of plants
    by the sea.
</p>

<p class = 'entry-content'> This site has a backend built from scratch powered by Python, Postgres and served with Flask. The Front-End is made with custom bootstrap and a smattering of vanilla JavaScript. 
    It includes a small CMS I built to more easily manage my blog posts and new project additions.
     <a href="https://github.com/hvanlear/portfolio">You can find the source code here. </a> </p>

<p class="aboutTitles">
    Compitencies
</p>
<ul>
    <li>Being a thoughtful and empathetic team member. People > code.</li>
    <li>Coachable and eager to improve through constructive criticism</li>
    <li>Building resilient and testable applications for web, mobile, and server.</li>
    <li>Embracing end user focused design philosophies</li>
    <li>Technical writing of every flavor; blogs, documentation, asynchronous communication.</li>
</ul>
<p class="aboutTitles">
    Education
</p>
<ul>
<li>B.S. Business Administration in Computer Information Systems
    <ul>
        <li>Systems Analysis and Design</li>
        <li>Project Management best practices</li>
        <li>Network design, implementation and security studies</li>
    
    </ul>  
</li>
</ul>
<a href="">My Full Resume</a>
    <hr class="line">   
</div>

{% endblock %}

