{% extends 'base.html' %}

{% block content_title %}Welcome!{% endblock %}

{% block content %}


<svg id="stroke" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
	<defs>
		<path id="line" d="M2 2c49.7 2.6 50 3.1 100 1.7-46.5 2-93 4.4-139.2 7.3 45.2-1.5 90.6-1.8 135.8-.6" fill="none" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"/>
	</defs>
</svg>



<div class="home-body ">
  <p class = 'entry-content'>My name is 
    <span class="first-name-line first-name">
      Hunter
      <svg class="button-stroke button-stroke-yellow" viewBox="0 0 154 5">
        <use href="#line"></use>
      </svg>
      <svg class="button-stroke button-stroke-yellow" viewBox="0 0 154 5">
        <use href="#line"></use>
      </svg>
   </span><br></p> 
  <p class='entry-content'>
    Thank you so much for taking time out of your 
    <span class = 'tod'></span> <span class ='timeEmoji' style="font-size: 22px"></span> to visit my site.
    I'm a Fullstack Web Developer from California, currently living in
    Emerald Isle N.C with my wife and two dogs. I designed this space with a goal of a <a href="https://alistapart.com/article/webwaste/">lean Digital Weight</a> 
    accomplished through minimalism. It serves as somewhere I can show off my work, discuss my trade and maybe make a few observations along the way. 
  </p>

  <h2 class= 'home-headline headline d-flex'>Recent Posts</h2>
  <ul class = 'IndexPosts'>
    {% for post in posts %}
    <div class=" card mb-1 mt-2">
      <div class="post-card card-body">
        <h4 class="postTitle"><a href="{{ url_for('blog.detail', slug=post.slug) }}">{{ post.title }}</a></h4>
        <div class="tag-container">
        {% for tag in post.tags %}
          <a href="{{ url_for('blog.blog_tag_detail', slug=tag.slug) }}" class="tags">{{tag.name}}</a>
        {% endfor %}
      </div>
        <p class='display-date'>{{ post.create_date }}</p>
        <p class="text-muted">- Hunter</p>
      </div>
    </div>
    {% endfor %}
  </ul>

  <h2 class = 'home-headline headline d-flex'>Projects</h2>
  <div class="container-fluid">
    <p class="text-muted">NOTE* Most of these projects are hosted on a free heroku account, if viewing the live demo please allow time for the web server to wake</p>
    <legend></legend>
    <div class="row-fluid" id="main">
        {% for project in projects %}
        {% if loop.index0 % 2 == 0 %}
        <div class="row">
        {% endif %}
            <div class="col-sm-6 projects">
              <div class='card mt-2'>
                <div class="card-body">

                  <h5 class="card-title project-title">{{ project.title }}</h5>
                  {% for tag in project.tags %}
                      <a class='tags' href="{{ url_for('projects.project_tags_detail', slug=tag.slug) }}">{{ tag.name }}</a>
                  {% endfor %}
                  <p class="entry-content card-text project-about ">{{ project.about | safe}}</p>
                  <a class="project-source-link" href="{{ project.github_link }}" target="_blank"><i class="devicon devicon-github-original"></i> Source</a>
                  <a class="project-source-link" href="{{ project.demo_link }}" target="_blank"> Live Demo</a>
                  
                
              </div>
              </div>
            </div>
        {% if loop.index0 % 2 == 1 or loop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

<footer>
    <a id= 'contact_section'></a>
    <h2 class="display-7 home-headline headline mb-2 mt-3">Contact</h2>
  
    <p class='entry-content'>
      I'd love to get in touch. The absolute best way to reach out would be
      through email - <i>hvanlear@gmail.com</i>. You can also find me elsehwere
      on the internet -
    </p>
</footer>
</div>


<script src="{{ url_for('static', filename="js/greeting.js") }}"></script>
{% if scrollToAnchor %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.location.hash = '#{{ scrollToAnchor }}';
    });
</script>
{% endif %}
{% endblock %}