@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  font-family: "Inter";
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.devicon {
  font-size: 30px;
}

.card-body {
  padding: 0;
}

h1,
h3 {
  letter-spacing: 2px;
  font-family: matrix-ii, serif;
}

.line {
  background-color: #f5c936;
}

.nav-link {
  color: #00a896;
}

ul {
  padding-left: 0;
}
