@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  font-family: "Inter";
}

p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 200;
}

.devicon {
  font-size: 30px;
}

.card-body {
  padding: 0;
}

h1,
h3,
h4 {
  letter-spacing: 2px;
  font-family: matrix-ii, serif;
}

ul {
  padding-left: 0;
}

.postTitle {
  font-family: "Inter";
}

.line {
  background-color: #f5c936;
}

.nav-link {
  color: #00a896;
}

.devicon-svg {
  max-width: 2em;
}

/* if you want to change the original color */
.devicon-svg path {
  fill: #4691f6;
}
