@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  font-family: "Inter";
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.devicon {
  font-size: 30px;
}

.card-body {
  padding: 0;
}

#title {
  width: 1000px;
}
