<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename="js/nav.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css")
    }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/darkly/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://use.typekit.net/smb2swj.css" />
    <link rel="stylesheet" href="{{ url_for('static',
    filename="css/devicon-master/devicon.css") }}" />
    <link
      rel="icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/mountain_26f0-fe0f.png"
    />
   
    <title>Hunter {% block title %}{% endblock %}</title>

    <svg id="stroke" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
      <defs>
        <path id="line" d="M2 2c49.7 2.6 50 3.1 100 1.7-46.5 2-93 4.4-139.2 7.3 45.2-1.5 90.6-1.8 135.8-.6" fill="none" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"/>
      </defs>
    </svg>
    

  </head>
  <body class="body">
    <div class="container ">
      <div class="top-nav">
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>

        <div class="top-nav-links">
          <ul class="nav justify-content-center mr-5">
            <li class="nav-item">
              <a class="top-nav nav-link active first-name-line first-name-line-nav"href="{{ url_for('main.index') }}">
                Hunter Van Lear
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
                </a>
            </li>

            <li class="nav-item">
              <a class="top-nav nav-link first-name-line first-name-line-nav" href="{{ url_for('projects.project_index') }}">
                Projects
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
              </a>
            </li>

            <li class="nav-item">
              <a class="top-nav nav-link first-name-line first-name-line-nav" href="{{ url_for('main.show_about') }}">
                About
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
              </a>
            </li>

            <li class="nav-item">
              <a class="top-nav nav-link first-name-line first-name-line-nav" href="{{ url_for('blog.blog_index') }}">
                Blog
                
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
              </a>
            </li>

            <li class="nav-item">
              <a class="top-nav nav-link first-name-line first-name-line-nav" href="{{ url_for('main.contact') }}">
                Contact
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
                <svg class="button-stroke button-stroke-green" viewBox="0 0 154 5">
                  <use href="#line"></use>
                </svg>
              </a>
            </li>

            {% if current_user.is_anonymous %} {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
              {% endif %}
            </li>
          </ul>

          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
      </div>

      <main>
        <div class="container col-md-9 mt-4">
          <h1 class="display-4 headline d-flex justify-content-center">
            {% block content_title %}{% endblock %}
          </h1>
          <hr class="line" />
        </div>
        <div class="container col-md-9 mt-1">
          {% block content %}CONTENT HERE{% endblock %}
          <hr class="line" />
        </div>
      </main>
      <div class="container">
        <ul class="nav justify-content-center ">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/hvanlear" target="_blank"
              ><i class="devicon devicon-github-original"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/Hunter_MVL" target="_blank"
              ><i class="devicon devicon-twitter-original"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/hunter-van-lear-96255365/" target="_blank"
              ><i class="devicon devicon-linkedin-plain"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <p id="copy">©Hunter Van Lear 2021</p>
    </div>
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js"></script>
    <script src="{{ url_for('static', filename="js/dateFormat.js") }}"></script>
    {% endblock %}
  </body>
</html>
