<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/darkly/bootstrap.min.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://use.typekit.net/smb2swj.css">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/devicon-master/devicon.css") }}" />

    <title> HVL - {{ title }} </title>
  </head>
  <body>
    <div class="container mt-2">

      <ul class="nav justify-content-center mr-5">

        <li class="nav-item">

            <a class="nav-link active" href="{{ url_for('index') }}">Home</a> 
        </li>


        <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
        </li>



        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_about') }}">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
      </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
      </li>

        {% if current_user.is_anonymous %}
          {% else %} 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_panel') }}">Admin</a>
        </li>
        {% endif %}
        
      </ul>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      
      <main>
        
        {% block content %}CONTENT HERE{% endblock %}
      

      </main>
      <div class="container">
          <ul class="nav justify-content-center mr-5">

        <li class="nav-item">
          <a class="nav-link" href="https://github.com/hvanlear"><i class="devicon devicon-github-original"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="devicon devicon-twitter-original"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="devicon devicon-linkedin-plain"></i></a>
        </li>
      </ul>
    </div>
    </div>
  </body>
</html>