{% extends 'base.html' %} {% block content %}





<div class="container col-md-9 mt-3">
  <hr class="line">
  <h1 class="display-4 headline">Welcome</h1>
  
  <p>My name is <b>Hunter Van Lear</b>, thank you so much for taking time out of your <span class = 'tod'></span> <span class ='timeEmoji' style="font-size: 22px"></span> to visit my
    site </p>

  <p >
    I'm a Fullstack Web Developer from California, currently living in
    Emerald Isle N.C with my wife and two dogs. This is just a space is to
    show off some of my personal projects, simple as they <i>currently</i> are, and then maybe talk about the development process behind them
    in any number of blog posts.
    
  </p>
</div>
<hr class="my-4"/>
<div class="container col-md-9">
  <h3 class="display-7">Recent Posts</h3>
  <ul>
    {% for post in posts%}
    <div class="card mb-1">
      <div class="card-body">
        <h4 class="postTitle">{{post.title}}</h4>
        {% for tag in post.tags %}
        <p class="lead">
          <a href="/tags/{{ tag.id }}" class="badge badge-primary">{{tag.name}}</a>
        </p>
        {% endfor %}
        <p><i>{{ post.create_date }} </i></p>
        <p class="text-muted">- {{ post.author.username}}</p>
      </div>
    </div>
    {% endfor %}
  </ul>
</div>
<div class="container col-md-9">
  <h3 class="display-7">Projects</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="card mt-1">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mt-1">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  
</div>
<footer>
  <div class="container col-md-9">
    <h3 class="display-7 mb-2 mt2">Contact</h3>
    <p>
      I'd love to get in touch. The abolute best way to reach out would be
      through email - <i>hvanlear@gmail.com</i>. You can also find me elsehwere
      on the internet via the links below
    </p>
    <hr class="line">
  </div>

</footer>
<script src="{{ url_for('static', filename="js/greeting.js") }}"></script>
{% endblock %}