{% extends 'base.html' %} {% block content %}

<div class="container col-md-9 mt-4">
  <h1 class="display-4 justify-content-center">Hello!</h1>
  <p class="lead">My name is <b>Hunter Van Lear</b>, thank you so much for taking time out of your <span class = 'tod'></span> <span class ='timeEmoji' style="font-size: 22px"></span> to visit my
    site </p>

  <p class="lead">
    I'm a Fullstack Web Developer from California, currently living in
    Emerald Isle N.C with my wife and two dogs. This is just a space is to
    show off some of my personal projects, simple as they <i>currently</i> are, and then maybe talk about the development process behind them
    in any number of blog posts.
    
  </p>
</div>
<hr class="my-4" />
<div class="container col-md-9">
  <h3 class="display-7">Recent Posts</h3>
  <ul>
    {% for post in posts%}
    <div class="card">
      <div class="card-body">
        <h4>{{post.title}}</h4>
        {% for tag in post.tags %}
        <p class="lead">
          <a href="/tags/{{ tag.id }}" class="badge badge-primary"
            >{{tag.name}}</a
          >
        </p>
        {% endfor %}
        <p><i>{{ post.friendly_date }} </i></p>
        <p class="text-muted">- {{ post.user.handle}}</p>
      </div>
    </div>
    {% endfor %}
  </ul>
</div>
<div class="container col-md-9">
  <h3 class="display-7">Projects</h3>
</div>
<footer>
  <div class="container col-md-9">
    <h3 class="display-7 mb-3">Contact</h3>
    <p class="lead">
      I'd love to get in touch. The abolute best way to reach out would be
      through email - <i>hvanlear@gmail.com</i>. You can also find me elsehwere
      on the internet via the links below
    </p>
  </div>
</footer>
<script src="{{ url_for('static', filename="js/greeting.js") }}"></script>
{% endblock %}